/* Contact Info
------------------------------------*/

footer {
  background: #eb9a05;
  color: #f7fff7;
}

.contact-items a {
  display: inline-block;
}

.contact-items {
  list-style-type: none;
  font-size: 3rem;
}

.contact-items i:hover {
  color: #bd5d38;
}

.contact-items i {
  color: rgb(232, 235, 240);
}

/* Responsive
------------------------------------*/

@media screen and (min-width: 750px) {
  footer {
    text-align: center;
  }
  .contact-items {
    display: flex;
    justify-content: center;
  }
  .contact-items a {
    padding: 15px;
  }
}
