<CardDeck>
  <Card className="mt-5 pt-5 mb-5 pb-5">
    <h1 className="">
      <i className="fas fa-briefcase"></i>
    </h1>
    <Card.Body>
      <Card.Title>Work Experience</Card.Title>
      <Card.Text>
        <section class="job-item">
          <div class="job-details">
            <h3>ASSISTANT MANAGER (R&D)</h3>
            <p>Outso AB, Sweden</p>
            <p>June 2014 - October 2019</p>
          </div>
          <div class="job-summary">
            <article>
              R&D of sustainable, efficient and traceable textile production using RFID/NFC and
              blockchain technologies. IT support, web development, testing, domains, emails and
              control-panel administration. Technical documentation, presentation, data analysis,
              report writing and technical support. Technical product/system development by
              collaborating with teams, customers and vendors.
            </article>
          </div>
        </section>
      </Card.Text>
    </Card.Body>
  </Card>
  <Card className="mt-5 pt-5 mb-5 pb-5">
    <h1 className="">
      {' '}
      <i className="fas fa-graduation-cap"></i>
    </h1>
    <Card.Body>
      <Card.Title>Education</Card.Title>
      <Card.Text>
        <section>
          <h3>System Development Java and Web-technologies</h3>
          <p>Software Development Academy, 2020 (four months)</p>
          <p>Royal Institute of Technology (KTH) & Novare Potential</p>
          <p>Lund, Sweden</p>
        </section>

        <section>
          <h3>Full Stack Web-development</h3>
          <p>HackYourFuture & Foo Coding, 2018 - 2019 (six months)</p>
          <p>Malmo, Sweden</p>
        </section>

        <section>
          <h3>MSC Electrical Engineering</h3>
          <p>Radio Communication & Signal Processing</p>
          <p>Blekinge Institute of Technology, 2010 - 2013</p>
          <p>Kalskrona, Sweden</p>
        </section>
      </Card.Text>
    </Card.Body>
  </Card>
  <Card className="mt-5 pt-5 mb-5 pb-5">
    <h1>
      <i className="fas fa-laptop-code"></i>
    </h1>
    <Card.Body>
      <Card.Title>Skills</Card.Title>
      <section>
        <ul>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
        </ul>
      </section>

      <section>
        <h3>Tools</h3>
        <ul>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
          <li>
            <img className="navbar-brand mt-3" src={git} alt="#" style={{ width: 50 }} />
          </li>
        </ul>
      </section>
    </Card.Body>
  </Card>
</CardDeck>
