.underline-bar {
  background: #3aafa9;
  height: 4px;
  width: 70px;
  margin: auto;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;
}

/* Projects
------------------------------------*/

.projects {
  background: #3aafa9;
}

img {
  width: 300px;
  height: 100%;
}

.divider > section {
  overflow: hidden;
  border-bottom: 1px #343434;
  padding: 25px 0;
}

@media screen and (min-width: 750px) {
  .project-item {
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    column-gap: 20px !important;
  }
}
