.home-background {
  background-image: url(../../images/H.jpeg);
  border: #1e2c30;
  background-size: cover;
  height: 100vh;
}

.image {
  border-radius: 50%;
  width: 120px;
  margin-bottom: -40px;
  margin-top: 50px;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;
}

.top-gap {
  margin-top: 50px;
  padding-top: 50px;
}

@media screen and (max-width: 750px) {
  .top-gap {
    margin-top: 10px;
    padding-top: 10px;
  }
  .home-background {
    height: 100vh;
  }
}