.about-background {
  background-image: url(../../images/about.jpeg);
  background-size: cover;
}

.underline-bar {
  background: #3aafa9;
  height: 4px;
  width: 70px;
  margin: auto;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.5px;
}

.font-weight {
  font-weight: 600;
}

.rotate-icon {
  transform: rotate(-30deg);
}

a {
  color: #2b7a78;
}
.work-comp {
  position: relative;
  margin: auto;
  padding: auto;
  width: 70px;
  height: 40px;
  background: #2b7a78;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  transition: 0.5s;
  transform: rotate(30deg);
}

.work-comp:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b7a78;
  z-index: -1;
  transform: rotate(60deg);
}

.work-comp:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b7a78;
  z-index: -1;
  transform: rotate(-60deg);
}

.edu-comp {
  position: relative;
  margin: auto;
  padding: auto;
  width: 70px;
  height: 40px;
  background: #2b7a78;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  transition: 0.5s;
  transform: rotate(30deg);
}

.edu-comp:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b7a78;
  z-index: -1;
  transform: rotate(60deg);
}

.edu-comp:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b7a78;
  z-index: -1;
  transform: rotate(-60deg);
}

/* Responsive
------------------------------------*/

@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}
